<div class="fullwidth fullheight flexbox flexdirec-col">
  <h2>Login Page</h2>
  <br />
  <form onsubmit="return false">
    <fieldset>
      <div class="margin1">
        <label for="username">Username:</label>
        <input type="text" id="username" />
      </div>
      <br />
      <div class="margin1">
        <label for="password">Password:</label>
        <input type="password" id="password" />
      </div>
      <br />
      <div class="margin1">
        <button onclick="login()" class="button1">Login</button>
      </div>
    </fieldset>
  </form>
  <br />
  <a onclick="page2()">Register</a>
</div>
