<div class="fullwidth fullheight flexbox flexdirec-col">
  <h2>Register Page</h2>
  <br />
  <form onsubmit="return false">
    <fieldset>
      <div class="margin1">
        <label for="reglastname">Lastname:</label>
        <input type="text" id="reglastname" />
      </div>
      <br />
      <div class="margin1">
        <label for="regfirstname">Firstname:</label>
        <input type="text" id="regfirstname" />
      </div>
      <br />
      <div class="margin1">
        <label for="regusername">Username:</label>
        <input type="text" id="regusername" />
      </div>
      <br />
      <div class="margin1">
        <label for="regpassword">Password:</label>
        <input type="password" id="regpassword" />
      </div>
      <br />
      <div class="margin1">
        <button onclick="register()" class="button1">Register</button>
      </div>
    </fieldset>
  </form>
  <br />
  <a onclick="page1()">Login</a>
</div>
